<div id="player">
	<span id="state"></span>
	
	<span id="title"></span>
	<span id="artist"></span>
	<span id="album"></span>
	
	<progress id="track_position" />
</div>

<div id="controls">
	
	<a href="/play" class="play_button">Play</a>
	<a href="/pause" class="pause_button">Pause</a>
	<a href="/next" class="next_button">Next</a>
	
</div>